# Extraction of data from the database

Here I'm going to extract relevant data from the database.

In [1]:
import pandas as pd

from sqlalchemy import create_engine

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Applications/anaconda3/lib/python3.7/site-packages (2.8.6)

In [6]:
db_config = {'user': 'practicum_student',
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs',
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,
             'db': 'data-analyst-youtube-data'}

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                            db_config['pwd'],
                                                            db_config['host'],
                                                            db_config['port'],
                                                            db_config['db']))
query = '''
           SELECT *
           FROM trending_by_time
        '''

trending_by_time = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')

trending_by_time.to_csv('trending_by_time.csv', index = False)

trending_by_time.head(5)

           region trending_date    category_title  videos_count
record_id
1          France    2017-11-14  Autos & Vehicles             8
2          France    2017-11-15  Autos & Vehicles             2
3          France    2017-11-16  Autos & Vehicles             6
4          France    2017-11-17  Autos & Vehicles             8
5          France    2017-11-18  Autos & Vehicles             4